.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-img-top {
  width: 235px;
}

.album-info {
  display: block;
}

.library {
  /* background: #fdcc52; */
  padding-top: 50px;
  padding-bottom: 100px;
}

.jumbotron {
  background: url(https://images.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  color: white;
  text-align: left;
  margin-top: -50px;
  height: 600px;
}

.selling-points {
  background: #fdcc52;
  padding: 50px;
  margin-top: -35px;
}

.btn-jumbotron {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-jumbotron:hover {
  background: #fdcc52;
  color: white;
}

.time-control {
  display: inline-block;
}

.player-bar section {
  display: inline-block;
  margin: 10px;
}

.player-bar {
  background: #fdcc52;
}

header {
  background: transparent;
  color: white;
}

.jumbotron .container {
  margin-top: 100px;
}

.ion-music-note {
  font-size: 40px;
}

.ion-speakerphone {
  font-size: 40px;
}

.ion-iphone {
  font-size: 40px;
}

a.nav-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
